.oligarca{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.impar{
    background-color: rgb(255, 210, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.claseDistinta{
    font-size: 24px;
}
#segundoElemento{
    color: blue;
    font-size: 36px;
}
#cuartoElemento{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
/*pb= Primer boton sb = Segundo boton uwu*/

.pb,
.sb
{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.pb{
    background-color: black;
    color: white;
}
.sb{
    background-color: yellow;
}
/* Cuarto ejercicio ni idea de por que lo separo*/
.avatar.proportioned{
    width: 300px;
    height: 300px;
}
.avatar.distorted{
    width: 200px;
    height: 400px;
}
/*Quinto ejercicio lo mismo jaja*/
div .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}